# Node dependencies
**/node_modules/

# Environment secrets
**/.env
**/.env.local
**/.env.production

# Logs
*.log
npm-debug.log*

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars
*.tfplan
crash.log

# Editors
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db
